.chapter-container {
    margin: 0 auto;
    font-size: 14px;
    width: 80%;
    line-height: 25px;
    .title {
        text-align:center;
        font-size: 14px;
        line-height:25px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .book-info {
        text-align:center;
    }
    .content {
        margin-top: 15px;
    }
}